@charset "UTF-8";
@blue: #01476b;
@fontSize: 14px;
@errorBGColor: #fee;
@productWidth: 370px;
@retakeQuizDarkBlue: #144e6d;
@retakeQuizLightBlue: #3b7c9e;
@footerBlue: #144e6d;

html {
	background: #fff;
	font-size: @fontSize;
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
	body {
		margin: 0;
		padding: 18px 20px;
	}
		div#wrapper {
			width: 810px;
			min-height: 622px;
			background: url(../img/bg.jpg) no-repeat 0 0;

			&.transitional { background-image: url(../img/transitional/bg.png); }
			&.modern { background-image: url(../img/modern/bg.png); }
			&.traditional { background-image: url(../img/traditional/bg.png); }
		}

			a.buttons {
				display: block;
				width: 164px;
				height: 35px;
				cursor: pointer;
				outline: none;
				background-image: url(../img/buttons.png);
				background-repeat: no-repeat;

				span { display: none; }
			}

		#content { position: relative; }

		/* Home View */
		.home > img {
			display: block;
			margin: 127px auto 0;
			width: 332px;
			height: 134px;
		}
		.sessionExpired > p,
		.step > p,
		.home > p {
			margin: 45px 150px;
			color: @blue;
			font-size: @fontSize + 3;
			text-align: center;
		}
		.home > p { margin-bottom: 53px; }
		.results > a,
		.step > a,
		.home > a { margin: 0 auto; }
		.home > a#getStarted {
			display: none;
			background-position: 0 0;

			&:hover { background-position: -165px 0; }
			&:active { background-position: -330px 0; }
		}
		.home > a#login { 
			background-position: 0 -200px;

			&:hover { background-position: -165px -200px; }
			&:active { background-position: -330px -200px; }
		}

		/* Step */
		.sessionExpired > h2,
		.results > h2,
		.step > h2 {
			margin: 35px 0 0;
			color: @blue;
			font-size: @fontSize + 24;
			line-height: 36px;
			text-transform: uppercase;
			text-align: center;
			text-shadow: 1px 0 3px #aaa;
		}
		.sessionExpired,
		.step {
			>p {
				margin: 25px 150px;
				font-size: @fontSize + 5;
			}
		}
		#buckets {
			min-height: 232px;
			padding: 0 0 25px 85px;
			background: url(../img/loading.gif) no-repeat center center;

			&:after {
				clear: both;
				content: " ";
				display: table;
			}

			&.loaded {
				background: none;
				>div { display: block; }
			}

			>div {
				display: none;
				float: left;
				margin-right: 80px;
				cursor: pointer;
				outline: none;
				text-align: center;
				max-width: 160px;

				>img {
					display: block;
					max-width: 160px;
					margin-bottom: 15px;
				}

				>strong {
					display: block;
					margin: 10px 0;
					text-transform: uppercase;
					color: @blue;
					min-height: 36px;
				}

				&.last { margin-right: 0; }
			}
		}

		.step > a#next {
			background-position: 0 -40px;

			&:hover { background-position: -165px -40px; }
			&:active { background-position: -330px -40px; }
			&.disabled {
				cursor: default;
				opacity: 0.5;
				filter: alpha(opacity=50);

				&:hover,
				&:active { background-position: 0 -40px; }
			}
		}
			
		.step > a#see-your-results { 
			display: none;
			background-position: 0 -80px;

			&:hover { background-position: -165px -80px; }
			&:active { background-position: -330px -80px; }
			&.disabled {
				cursor: default;
				opacity: 0.5;
				filter: alpha(opacity=50);

				&:hover,
				&:active { background-position: 0 -80px; }
			}
		}

		.qCount {
			margin-top: 30px;
			text-align: center;
			font-weight: bold;
			font-size: @fontSize;
			color: #fff;
			text-shadow: 0 0 1px #000;
		}

		/* See Your Results */
		#portrait { 
			margin: 0 auto;

			&.modern {
				background: url(../img/modern/frame.png) no-repeat 0 0;
				width: 130px;
				height: 135px;
				padding: 32px 0 0 32px;
			}
				&.modern > img { width: 99px; }
			&.transitional {
				background: url(../img/transitional/frame.png) no-repeat 0 0;
				width: 91px;
				height: 121px;
				padding: 38px 36px 0 35px;
			}
				&.transitional > img { width: 91px; }
			&.traditional {
				background: url(../img/traditional/frame.png) no-repeat 0 0;
				width: 144px;
				height: 143px;
				padding: 14px 0 0 15px;
			}
		}
		
		.results {
			>h2 {
				margin-bottom: 30px;
			}
			>img {
				display: block;
				margin: 0 auto;
			}
			>p {
				width: 670px;
				margin: 25px auto;
				font-size: @fontSize + 3;
				color: #666;
				text-align: center;
			}
		}

		#products {
			margin: 25px 0 10px;

			&:after,
			div:after {
				clear: both;
				content: " ";
				display: table;
			}

			>div {
				float: left;
				width: @productWidth;
				padding: 0 10px 0 20px;

				>img {
					float: left;
					margin: 0 15px 50px 0;
					border: 1px solid #d2d2d2;
					width: 178px;
				}
				>strong,
				>h3 { font-size: @fontSize + 3; }
				>h3 { 
					margin: 0 0 25px;
					color: @blue;
					line-height: 20px;
				}
				>strong {
					display: block;
					margin-bottom: 1px;
					color: #999;
				}
				>p {
					margin: 0;
					color: #666;
					font-size: @fontSize;
					line-height: 17px;
				}
			}

			>div#my-showroom {
				width: @productWidth - 35;
				padding: 20px 20px 25px;
				margin-left: 25px;
				text-align: center;

				&:after,
				div:after {
					clear: both;
					content: " ";
					display: table;
				}

				>h4 {
					margin: 10px 0 5px;
					color: #666;
					font-weight: normal;
					font-size: @fontSize;
				}
				>h5 {
					font-size: @fontSize;
					font-weight: bold;
					margin: 1px 0 15px;
					color: @blue;
					display: none;
				}
				>a#get-directions {
					background-position: 0 -120px;
					margin: 8px auto 15px;

					&:hover { background-position: -165px -120px; }
					&:active { background-position: -330px -120px; }
				}
				>a#download-results {
					display: block;
					float: left;
					outline: none;
					cursor: pointer;
					font-weight: bold;
					color: @blue;
					text-decoration: none;
					font-size: @fontSize;
					height: 20px;
					line-height: 20px;
					padding-right: 24px;
					margin-left: 87px;
					background: url(../img/pdf-icon.png) no-repeat top right;

					&:hover { color: #369; }
					&:active { color: #222; }
				}
			}	
		}

		#retake-quiz {
			width: 434px;
			padding: 25px 58px 0;
			margin: 0 auto;
			background: url(../img/retakeQuizDivider.png) no-repeat 0 0;
			text-align: center;

			>h4 {
				color: #999;
				margin: 0 0 20px;
				font-size: @fontSize + 10;
			}
			>p {
				color: #666;
				margin: 0;
				font-size: @fontSize;
			}
			>a {
				display: block;
				height: 43px;
				width: 172px;
				background: url(../img/retakeQuizButton.png) no-repeat 0 0;
				margin: 30px auto 0;
				cursor: pointer;
				outline: none;

				&:hover { background-position: 0 -43px; }
				&:active { background-position: 0 -86px; }

				>span { display: none; }
			}
		}
			a#share-your-results { 
				background-position: 0 -160px;

				&:hover { background-position: -165px -160px; }
				&:active { background-position: -330px -160px; }
			}

		.sessionExpired {
			overflow: hidden;

			>a {
				display: block;
				height: 43px;
				width: 172px;
				background: url(../img/retakeQuizButton.png) no-repeat 0 0;
				margin: 30px auto 0;
				cursor: pointer;
				outline: none;

				&:hover { background-position: 0 -43px; }
				&:active { background-position: 0 -86px; }

				>span { display: none; }
			}
		}

		.buttonShadow {
			margin: 40px auto 0;
			width: 198px;
			height: 11px;
			background: url(../img/button-shadow.png) no-repeat 0 0;
		}

		/* Error Message */
		#error {
			position: absolute;
			top: 75px;
			left: 230px;
			width: 300px;
			padding: 13px 15px;
			text-align: center;
			font-weight: bold;
			font-size: @fontSize;
			border: 2px solid #900;
			color: #833;
			background: @errorBGColor;
			background: -webkit-linear-gradient(@errorBGColor, desaturate(@errorBGColor, 80%));
			background: -moz-linear-gradient(@errorBGColor, desaturate(@errorBGColor, 80%));
			background: -ms-linear-gradient(@errorBGColor, desaturate(@errorBGColor, 80%));
			background: -o-linear-gradient(@errorBGColor, desaturate(@errorBGColor, 80%));
			background: linear-gradient(@errorBGColor, desaturate(@errorBGColor, 80%));

			>a {
				display: block;
				position: absolute;
				top: 3px;
				right: 4px;
				height: 12px;
				width: 12px;
				cursor: pointer;
				outline: none;
				background: url(../img/close-x.gif) no-repeat 0 0;
			}
				>a > span { display: none; }
		}

	footer {
		display: block;
		height: 20px;
		width: 780px;
		padding: 20px 15px;
		line-height: 20px;
		border-top: 3px solid @footerBlue;
		background: #dbe0e0;
		background: -o-linear-gradient(#fff, #dbe0e0);
		background: -ms-linear-gradient(#fff, #dbe0e0);
		background: linear-gradient(#fff, #dbe0e0);
		color: @footerBlue;

		&:after {
			clear: both;
			content: " ";
			display: table;
		}

		>h3 {
			margin: 0;
			font-weight: normal;
			font-size: 16px;
		}

		>p, >a { 
			float: right;
			font-size: 9px;
			font-family: arial;
		}
		>p {
			margin: 0 7px 0 0;
		}
		>a {
			display: block;
			margin: 4px 0;
			padding: 0 7px;
			height: 12px;
			line-height: 12px;
			border-left: 1px solid @footerBlue;
			color: @footerBlue;
			text-decoration: none;
			font-weight: bold;

			&:hover { text-decoration: underline; }
			&:active { color: darken(@footerBlue, 20%); }
		}
	}
			