html {
	background: #fff;
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
	body {
		margin: 0;
		padding: 18px 20px;
	}
		body > div {
			width: 810px;
			min-height: 622px;
			background: url(/img/bg.jpg) no-repeat 0 0;
		}

			a.buttons {
				display: block;
				width: 164px;
				height: 35px;
				cursor: pointer;
				outline: none;
				background-image: url(/img/buttons.png);
				background-repeat: no-repeat;
			}
				a.buttons > span { display: none; }
			a.buttons:hover { background-position-x: -165px; }
			a.buttons:active { background-position-x: -330px; }

		/* Home View */
		.home > img {
			display: block;
			margin: 135px auto 0;
			width: 332px;
			height: 134px;
		}
		.step > p,
		.home > p {
			margin: 45px 150px;
			color: #01476b;
			font-size: 17px;
			text-align: center;
		}
		.step > a,
		.home > a { margin: 0 auto; }
		.home > a#getStarted {
			display: none;
			background-position-y: 0;
		}
		.home > a#login { background-position-y: -200px; }

		/* Step */
		.step > h2 {
			margin: 35px 0 0;
			font-size: 54px;
			color: #01476b;
			text-transform: uppercase;
			text-align: center;
		}
		.step > p { margin: 25px 150px; }
		#buckets { margin: 0 0 25px 50px; }
		#buckets:after {
			clear: both;
			content: " ";
			display: table;
		}
			.bucket {
				float: left;
				margin-right: 15px;
				cursor: pointer;
				outline: none;
				text-align: center;
			}
				.bucket > img {
					display: block;
					max-width: 125px;
					margin-bottom: 15px;
				}
			.bucket.last { margin-right: 0; }
		.step > a.buttons { background-position-y: -40px; }
		.qCount {
			margin-top: 80px;
			text-align: center;
			font-weight: bold;
			font-size: 14px;
			color: #fff;
			text-shadow: 0 0 1px #000;
		}