html {
	background: #fff;
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
	body {
		margin: 0;
		padding: 18px 20px;
	}
		div#wrapper {
			width: 810px;
			min-height: 622px;
			background: url(/img/bg.jpg) no-repeat 0 0;
		}
		div#wrapper.transitional { background-image: url(/img/transitional-bg.png); }
		div#wrapper.modern { background-image: url(/img/modern-bg.png); }
		div#wrapper.traditional { background-image: url(/img/traditional-bg.png); }

			a.buttons {
				display: block;
				width: 164px;
				height: 35px;
				cursor: pointer;
				outline: none;
				background-image: url(/img/buttons.png);
				background-repeat: no-repeat;
			}
				a.buttons > span { display: none; }

		#content { position: relative; }

		/* Home View */
		.home > img {
			display: block;
			margin: 135px auto 0;
			width: 332px;
			height: 134px;
		}
		.step > p,
		.home > p {
			margin: 45px 150px;
			color: #01476b;
			font-size: 17px;
			text-align: center;
		}
		.results > a,
		.step > a,
		.home > a { margin: 0 auto; }
		.home > a#getStarted {
			display: none;
			background-position: 0 0;
		}
			.home > a#getStarted:hover { background-position: -165px 0; }
			.home > a#getStarted:active { background-position: -330px 0; }
		.home > a#login { background-position: 0 -200px; }
			.home > a#login:hover { background-position: -165px -200px; }
			.home > a#login:active { background-position: -330px -200px; }

		/* Step */
		.results > h2,
		.step > h2 {
			margin: 35px 0 0;
			font-size: 54px;
			line-height: 52px;
			color: #01476b;
			text-transform: uppercase;
			text-align: center;
			text-shadow: 0 0 1px #000;
		}
		.step > p { margin: 25px 150px; }
		#buckets { margin: 0 0 25px 100px; }
		#buckets:after {
			clear: both;
			content: " ";
			display: table;
		}
			.bucket {
				float: left;
				margin-right: 120px;
				cursor: pointer;
				outline: none;
				text-align: center;
			}
				.bucket > img {
					display: block;
					max-width: 125px;
					margin-bottom: 15px;
				}
			.bucket.last { margin-right: 0; }
		.step > a#next { background-position: 0 -40px; }
			.step > a#next:hover { background-position: -165px -40px; }
			.step > a#next:active { background-position: -330px -40px; }
		.step > a#see-your-results { 
			display: none;
			background-position: 0 -80px;
		}
			.step > a#see-your-results:hover { background-position: -165px -80px; }
			.step > a#see-your-results:active { background-position: -330px -80px; }

		.qCount {
			margin-top: 80px;
			text-align: center;
			font-weight: bold;
			font-size: 14px;
			color: #fff;
			text-shadow: 0 0 1px #000;
		}

		/* See Your Results */
		.results > h2 { margin-bottom: 30px; }
		.results > img {
			display: block;
			margin: 0 auto;
		}
		.results > h4,
		.results > p { text-align: center; }
		.results > h4 {
			margin: 10px 0;
			color: #666;
			font-weight: normal;
			font-size: 17px;
		}
		.results > p {
			width: 670px;
			margin: 25px auto;
			color: #666;
		}
		#products { margin: 25px 0 10px; }
			#products:after,
			#products > div:after {
				clear: both;
				content: " ";
				display: table;
			}
			#products > div {
				float: left;
				width: 370px;
				padding: 0 10px 0 20px;
				margin-bottom: 50px;
			}
				#products > div > img {
					float: left;
					margin-right: 15px;
					border: 1px solid #d2d2d2;
					width: 178px;
				}
				#products > div > strong,
				#products > div > h3 {
					font-size: 17px;
					color: #01476b;
				}
				#products > div > h3 { margin: 20px 0 25px; }
				#products > div > strong {
					display: block;
					margin-bottom: 1px;
				}
				#products > div > p {
					margin: 0;
					color: #666;
					font-size: 14px;
					line-height: 17px;
				}

			a#get-directions { 
				margin-bottom: 50px;
				background-position: 0 -120px;
			}
				a#get-directions:hover { background-position: -165px -120px; }
				a#get-directions:active { background-position: -330px -120px; }
			a#share-your-results { background-position: 0 -160px; }
				a#share-your-results:hover { background-position: -165px -160px; }
				a#share-your-results:active { background-position: -330px -160px; }

		/* Error Message */
		#error {
			position: absolute;
			top: 75px;
			left: 230px;
			width: 300px;
			padding: 13px 15px;
			text-align: center;
			font-weight: bold;
			font-size: 14px;
			border: 2px solid #900;
			color: #833;
			background: #fee;
			background: -webkit-linear-gradient(#fee, #f7f7f7);
			background: -moz-linear-gradient(#fee, #f7f7f7);
			background: -ms-linear-gradient(#fee, #f7f7f7);
			background: -o-linear-gradient(#fee, #f7f7f7);
			background: linear-gradient(#fee, #f7f7f7);
		}
			#error > a {
				display: block;
				position: absolute;
				top: 3px;
				right: 4px;
				height: 12px;
				width: 12px;
				cursor: pointer;
				outline: none;
				background: url(/img/close-x.gif) no-repeat 0 0;
			}
				#error > a > span { display: none; }