html {
	background: #fff;
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
	body {
		margin: 0;
		padding: 18px 20px;
	}
		div#wrapper {
			width: 810px;
			min-height: 622px;
			background: url(/img/bg.jpg) no-repeat 0 0;
		}
		div#wrapper.transitional { background-image: url(/img/transitional-bg.png); }
		div#wrapper.modern { background-image: url(/img/modern-bg.png); }
		div#wrapper.traditional { background-image: url(/img/traditional-bg.png); }

			a.buttons {
				display: block;
				width: 164px;
				height: 35px;
				cursor: pointer;
				outline: none;
				background-image: url(/img/buttons.png);
				background-repeat: no-repeat;
			}
				a.buttons > span { display: none; }
			a.buttons:hover { background-position-x: -165px; }
			a.buttons:active { background-position-x: -330px; }

		/* Home View */
		.home > img {
			display: block;
			margin: 135px auto 0;
			width: 332px;
			height: 134px;
		}
		.step > p,
		.home > p {
			margin: 45px 150px;
			color: #01476b;
			font-size: 17px;
			text-align: center;
		}
		.results > a,
		.step > a,
		.home > a { margin: 0 auto; }
		.home > a#getStarted {
			display: none;
			background-position-y: 0;
		}
		.home > a#login { background-position-y: -200px; }

		/* Step */
		.results > h2,
		.step > h2 {
			margin: 35px 0 0;
			font-size: 54px;
			color: #01476b;
			text-transform: uppercase;
			text-align: center;
			text-shadow: 0 0 1px #000;
		}
		.step > p { margin: 25px 150px; }
		#buckets { margin: 0 0 25px 50px; }
		#buckets:after {
			clear: both;
			content: " ";
			display: table;
		}
			.bucket {
				float: left;
				margin-right: 15px;
				cursor: pointer;
				outline: none;
				text-align: center;
			}
				.bucket > img {
					display: block;
					max-width: 125px;
					margin-bottom: 15px;
				}
			.bucket.last { margin-right: 0; }
		.step > a#next { background-position-y: -40px; }
		.step > a#see-your-results { 
			display: none;
			background-position-y: -80px; 
		}

		.qCount {
			margin-top: 80px;
			text-align: center;
			font-weight: bold;
			font-size: 14px;
			color: #fff;
			text-shadow: 0 0 1px #000;
		}

		/* See Your Results */
		.results > img {
			display: block;
			margin: 0 auto;
		}
		.results > h4,
		.results > p { text-align: center; }
		.results > h4 {
			margin: 10px 0;
			color: #666;
			font-weight: normal;
			font-size: 17px;
		}
		.results > p {
			width: 670px;
			margin: 25px auto;
			color: #666;
		}
		#products { margin: 25px 0 10px; }
			#products:after,
			#products > div:after {
				clear: both;
				content: " ";
				display: table;
			}
			#products > div {
				float: left;
				width: 370px;
				padding: 0 10px 0 20px;
				margin-bottom: 50px;
			}
				#products > div > img {
					float: left;
					margin-right: 15px;
					border: 1px solid #d2d2d2;
					width: 178px;
				}
				#products > div > strong,
				#products > div > h3 {
					font-size: 17px;
					color: #01476b;
				}
				#products > div > h3 { margin: 20px 0 25px; }
				#products > div > strong {
					display: block;
					margin-bottom: 1px;
				}
				#products > div > p {
					margin: 0;
					color: #666;
					font-size: 14px;
					line-height: 17px;
				}

			a#get-directions { 
				margin-bottom: 50px;
				background-position-y: -120px;
			}
			a#share-your-results { background-position-y: -160px; }

